.root {
  --select-stepper-view-width: 200px;
  --select-stepper-scroll-offset: 0%;
  --select-stepper-animation-duration: 300ms;
  --select-stepper-animation-timing-function: ease-in-out;
}

.view {
  width: var(--select-stepper-view-width);
  overflow: hidden;
  position: relative;
}

.scrollArea {
  display: flex;
  transform: translateX(var(--select-stepper-scroll-offset));
}

.scrollArea[data-animate='true'] {
  transition: transform var(--select-stepper-animation-duration) var(--select-stepper-animation-timing-function);
}

.label {
  min-width: var(--select-stepper-view-width);
  width: var(--select-stepper-view-width);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
