.root {
  --select-stepper-view-width: 200px;
  position: relative;
}

.wrapper {
  --select-stepper-scroll-offset: 0%;
  --select-stepper-animation-duration: 300ms;
  --select-stepper-animation-timing-function: ease-in-out;

  border-radius: var(--select-stepper-radius, var(--mantine-radius-default));
  position: relative;
  padding: 3px;
  max-width: max-content;
  margin-top: var(--select-stepper-margin-top, 0rem);
  margin-bottom: var(--select-stepper-margin-bottom, 0rem);
  box-sizing: border-box;

  @mixin light {
    --select-stepper-border-color: var(--mantine-color-gray-3);
  }

  @mixin dark {
    --select-stepper-border-color: var(--mantine-color-dark-4);
  }

  &:where([data-with-border]) {
    border: rem(1px) solid var(--select-stepper-border-color);
  }

  &:focus-visible {
    outline: var(--mantine-focus-ring-width, rem(2px)) solid var(--mantine-color-blue-7);
    outline-offset: rem(2px);
  }

  &[data-disabled='true'] {
    opacity: 0.6;
    pointer-events: none;

    .label {
      cursor: not-allowed;
      color: var(--mantine-color-disabled-color);
    }
  }
}

.view {
  width: var(--select-stepper-view-width);
  overflow: hidden;
  position: relative;
}

.scrollArea {
  display: flex;
  transform: translateX(var(--select-stepper-scroll-offset));
}

.scrollArea[data-animate='true'] {
  transition: transform var(--select-stepper-animation-duration)
    var(--select-stepper-animation-timing-function);
}

.content {
  min-width: var(--select-stepper-view-width);
  width: var(--select-stepper-view-width);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
